$light   : #E4E9F2;
$accent  : #04D9B2;

$navWidth  : 300px;

:root {
    --color-white-100 : rgba(255, 255, 255, .1);
    --color-white-400 : #fff;
    --color-white-500 : rgba(255, 255, 255, .5);
    --color-black     : #000;

    --color-primary-400 : #343e40;

    --color-blue-400 : #2D4BA6;
    --color-blue-500 : #3321A6;
    --color-blue-600 : #070A40;
}