@import "mixins", "variables", "responsive";

/* GENERAL STYLES */
html,
body {
    -webkit-font-smoothing   : antialiased;
    -webkit-text-size-adjust : none;
    -moz-osx-font-smoothing  : grayscale;
    text-rendering           : optimizeLegibility;
}

body {
    font-family : 'Inter', sans-serif;
    font-size   : 16px;
    color       : var(--color-primary-400);

    @include media(desktop) {
        display               : grid;
        grid-template-columns : min-content 1fr;
    }
}

a {
    color : var(--color-blue-400);
}

p {
    &.desc {
        color : rgba(var(--color-blue-600), 0.5);
    }
}

header.header {
    top              : 0;
    left             : 0;
    background-color : var(--color-blue-600);
    color            : rgba(var(--color-white), 0.75);
    padding          : 20px;
    z-index          : 2;
    min-width        : 300px;

    .header-wrapper {
        display         : flex;
        align-items     : center;
        justify-content : space-between;
    }

    .icon {
        font-size : 30px;
        color     : var(--color-white-400);

        @include media(desktop) {
            display : none;
        }
    }
}

.navigation-wrapper {
    position         : fixed;
    left             : 0;
    right            : 0;
    background-color : var(--color-blue-600);
    z-index          : 1;
    padding-block    : 20px;
    top              : -100%;
    display          : flex;
    flex-direction   : column;
    @include transition;

    &.is-active {
        top : 0;
    }

    @include media(desktop) {
        position : relative;
        top      : 0;
    }


    .navigation-close {
        margin-left    : auto;
        padding-inline : 20px;
    }

    nav.navigation {
        ul {
            list-style   : none;
            margin       : 0;
            padding-left : 0;
            color        : var(--color-white-400);

            li {
                position      : relative;
                border-bottom : 1px solid var(--color-white-100);

                a {
                    position        : relative;
                    display         : flex;
                    align-items     : center;
                    justify-content : space-between;
                    line-height     : 44px;
                    text-decoration : none;
                    color           : var(--color-white-400);
                    font-weight     : 500;
                    padding         : 0 20px;

                    .message-counter {
                        min-width        : 18px;
                        height           : 18px;
                        line-height      : 18px;
                        background-color : var(--color-white-400);
                        color            : var(--color-blue-400);
                        font-size        : 0.65rem;
                        font-weight      : 600;
                        text-align       : center;
                        padding          : 0 0.25em;
                        @include borderradius(3px);
                    }

                    &:hover {
                        background-color : var(--color-white-100);
                        color            : var(--color-white-400);
                    }
                }
            }
        }
    }
}


main.main {
    position         : relative;
    min-height       : 100vh;
    background-color : $light;
    padding          : 20px;
}

.table {
    @include borderradius;
    font-size : 0.9rem;

    .actions {
        display   : flex;
        flex-flow : row nowrap;
        gap       : 0.5em;
    }

    a {
        text-decoration : none;
        color           : #000;
        display         : block;
    }

    tr {

        th,
        td {
            padding : 15px 20px;
        }

        &.read {
            td {
                background-color : var(--color-white-500);
                color            : var(--color-primary-400);

                a {
                    color : var(--color-primary-400);
                }
            }
        }

        &.unread {
            td {
                &.title {
                    font-weight : 700;
                }
            }
        }
    }
}

.information {
    .information-wrapper {
        display               : grid;
        grid-template-columns : repeat(2, 1fr);
        gap                   : 20px;

        .information-item {
            background : var(--color-white-400);
            padding    : 20px;
            @include borderradius;
        }
    }
}

section {
    padding : 1em 0;

    @include media(phone) {
        padding : 3em 0;
    }
}

.message {
    .message-wrapper {
        background-color : var(--color-white-400);
        padding          : 40px;
        border-radius    : 25px;
    }

    .message-date {
        margin-bottom : 40px;
    }
}